@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@keyframes itemShow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@media screen and (min-width: 375px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Shrikhand;
    font: message-box;
  }
  body .container_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 5px;
  }
  body .container_logo i {
    width: 20%;
    padding: 0 0 0 20px;
    font-size: 1em;
  }
  body .container_logo span {
    width: 60%;
    font-size: 2em;
    font-style: normal;
  }
  body .loader_container {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(108, 105, 110, 0.9);
    -webkit-animation: loader 0.01s;
    animation: loader 0.01s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body .loader {
    border: 16px solid #bb50d6;
    border-radius: 50%;
    border-top: 16px solid #ff79da;
    border-bottom: 16px solid #9356dc;
    border-left: 16px solid #99E2D0;
    width: 6em;
    height: 6em;
    -webkit-animation: spin 1s cubic-bezier(0.55, 0.3, 0.51, 0.74) infinite;
    animation: spin 1s cubic-bezier(0.55, 0.3, 0.51, 0.74) infinite;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      opacity: 100%;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0%;
    }
  }

  header .logo_header {
    display: block;
    width: 100%;
    font-family: Shrikhand;
    font-size: 40px;
    text-align: center;
  }
  header .location {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: inset 0 2px 10px 2px rgba(0, 0, 0, 0.2);
    height: 4em;
  }
  header .location .fas {
    padding: 0 10px 0 0;
  }
  header .location #search {
    width: 40%;
    background-color: #eaeaea;
    border-style: none;
    font: message-box;
    font-weight: bold;
  }
  header .select {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 0 50px 0;
    justify-content: center;
    background-color: #f6f6f6;
    text-align: center;
  }
  header .select h1 {
    width: 100%;
  }
  header .select h2 {
    width: 90%;
    font-weight: lighter;
  }
  header .select .exploration {
    border-radius: 30px;
    color: #FFF;
    padding: 20px 30px 20px 30px;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    font: message-box;
  }

  footer {
    background-color: #434343;
    color: #FFF;
    padding: 20px;
  }
  footer .logo_footer {
    display: block;
    width: 100%;
    font-family: Shrikhand;
    font-size: 20px;
  }
  footer .container_footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
  }
  footer .container_footer .fas {
    padding: 0 10px 0 0;
  }
  footer .container_footer .footer_choice {
    width: 100%;
  }

  ol {
    -webkit-padding-start: 10px;
    padding-inline-start: 10px;
  }
  ol li {
    list-style: none;
    padding: 0 0 20px 0;
  }

  a {
    text-decoration: none;
    color: #FFF;
  }
  a:visited {
    color: none;
  }

  main {
    margin: 20px;
    font-family: "Roboto", Shrikhand;
    font: message-box;
  }
  main .title {
    display: flex;
    align-items: center;
  }
  main #restaurants {
    margin: 0 0 60px 0;
  }
  main #restaurants p {
    -webkit-margin-before: 0px;
    margin-block-start: 0px;
    -webkit-margin-after: 0px;
    margin-block-end: 0px;
  }
  main #restaurants h4 {
    -webkit-margin-before: 0px;
    margin-block-start: 0px;
    -webkit-margin-after: 5px;
    margin-block-end: 5px;
  }
  main #restaurants .restaurants_images {
    width: 100%;
    height: 10rem;
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0;
  }
  main #restaurants .restaurants_images .new {
    display: flex;
    color: #008766;
    background: #99E2D0;
    font: message-box;
    width: 30%;
    border-radius: 5px;
    justify-content: center;
    padding: 10px;
    position: relative;
    top: 15px;
    left: 12em;
  }
  main #restaurants .restaurant_palette_du_gout {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
  main #restaurants .restaurant_note_enchantee {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  }
  main #restaurants .restaurant_a_la_francaise {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  main #restaurants .restaurant_delice_des_sens {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
  main #restaurants .restaurant_map {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 20px 0;
    border-radius: 20px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    background-color: #f6f6f6;
    transition: transform 0.2s;
  }
  main #restaurants .restaurant_map:hover {
    transform: scale(1.1);
  }
  main .fa-2x {
    font-size: 1.3em;
  }
  main .favorite:hover i.far {
    display: none;
  }
  main .favorite:hover i.fas {
    color: #9356DC;
    display: block;
    background: linear-gradient(222deg, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  main .favorite i.fas {
    display: none;
    transition: transform 0.2s;
    cursor: pointer;
  }

  .restaurant_info {
    -moz-text-align-last: start;
    text-align-last: start;
  }
  .restaurant_info h4 {
    text-shadow: 0 0 black;
  }

  .container_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 20px 0 20px;
    height: 5em;
    width: 85%;
  }

  .select_list {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 25px;
    height: 4em;
    justify-content: space-evenly;
    align-items: center;
  }
  .select_list:hover {
    background-color: #f5edff;
  }
  .select_list:hover > .fas {
    color: #9356DC;
  }
  .select_list a {
    color: black;
    font: message-box;
    font-weight: 600;
  }
  .select_list > .fas {
    color: #7e7e7e;
    width: 10%;
    align-self: center;
    -moz-text-align-last: center;
    text-align-last: center;
  }
  .select_list .number {
    display: flex;
    position: absolute;
    background: #9356DC;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    left: 20px;
    color: #FFF;
  }
}
@media screen and (min-width: 425px) {
  header .select h1 {
    padding: 0 20px 0 20px;
  }
  header .select h2 {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  main .title {
    display: flex;
    align-items: center;
  }
  main #restaurants .restaurants_images .new {
    left: 15em;
  }
}
@media screen and (min-width: 768px) {
  header .location .fas {
    padding: unset;
  }
  header .location #search {
    width: 20%;
    text-align: center;
  }

  main #restaurants .restaurants_images .new {
    left: 30em;
  }
}
@media screen and (min-width: 1024px) {
  header .location #search {
    width: 15%;
  }

  ol {
    display: flex;
    justify-content: space-between;
  }
  ol li {
    width: 30%;
  }

  .select_list .number {
    left: 44em;
  }
  .select_list .number.number_1 {
    left: 1em;
  }
  .select_list .number.number_2 {
    left: 22.5em;
  }

  main .container_restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  main .container_restaurants .restaurant_map {
    width: 45%;
  }

  main #restaurants .restaurants_images .new {
    left: 17em;
  }

  footer .container_footer {
    display: flex;
    flex-wrap: wrap;
  }
  footer .container_footer .footer_choice {
    width: 25%;
  }
}
@media screen and (min-width: 1440px) {
  header .location #search {
    width: 11%;
  }

  .select_list .number {
    left: 62em;
  }
  .select_list .number.number_1 {
    left: 1em;
  }
  .select_list .number.number_2 {
    left: 31.5em;
  }

  main #restaurants .restaurants_images .new {
    left: 25em;
  }
}
@media screen and (min-width: 1600px) {
  .select_list .number {
    left: 69em;
  }
  .select_list .number.number_2 {
    left: 35em;
  }

  main #restaurants .restaurants_images .new {
    left: 28em;
  }
}
@media screen and (min-width: 1920px) {
  header .location #search {
    width: 8%;
  }

  .select_list .number {
    left: 82.5em;
  }
  .select_list .number.number_2 {
    left: 42em;
  }

  main #restaurants .restaurant_map {
    margin: 0 0 50px 0;
  }
  main #restaurants .restaurants_images .new {
    left: 34em;
  }
}
@media screen and (min-width: 375px) {
  #main_menu {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
  }
  #main_menu h1 {
    display: block;
    width: 100%;
    font-family: Shrikhand;
    font-size: 25px;
  }
  #main_menu h2 {
    display: inline-block;
    border-bottom: 3px solid #99E2D0;
    padding-bottom: 5px;
    width: 18%;
  }
  #main_menu h4 {
    display: block;
    width: 100%;
    font-family: "Roboto";
    font-weight: bolder;
    -webkit-margin-before: 0em;
    margin-block-start: 0em;
    -webkit-margin-after: 0em;
    margin-block-end: 0em;
  }
  #main_menu .restaurant_palette_du_gout {
    background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
  #main_menu .restaurant_note_enchantee {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  }
  #main_menu .restaurant_a_la_francaise {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  #main_menu .restaurant_delice_des_sens {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
  #main_menu p {
    -webkit-margin-before: 0em;
    margin-block-start: 0em;
    -webkit-margin-after: 0em;
    margin-block-end: 0em;
    font-size: 15px;
  }
  #main_menu .restaurants_menu {
    width: 100%;
    height: 15rem;
    background-size: cover;
    background-position: center;
  }
  #main_menu .container_carte {
    padding: 20px;
    border-radius: 20px 20px 0 0;
    background-color: #f6f6f6;
    position: relative;
    margin: -1em 0 0 0;
  }
  #main_menu .container_carte .carte {
    display: flex;
    flex-direction: column;
  }
  #main_menu .container_carte .carte .menu__info {
    border-radius: 15px;
    padding: 10px;
    margin: 0 0 1em 0;
    cursor: pointer;
    -webkit-animation: itemShow 0.6s;
    animation: itemShow 0.6s;
    -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transform: scale(0);
    max-width: 100%;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
  #main_menu .container_carte .carte .menu__info:hover .menu__confirmation {
    margin-right: -1rem;
  }
  #main_menu .container_carte .carte .menu__info:hover .menu__confirmation .menu__checkIcon {
    transform: rotate(0);
  }
  #main_menu .container_carte .carte .menu__info.delay-0 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #main_menu .container_carte .carte .menu__info.delay-1 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  #main_menu .container_carte .carte .menu__info.delay-2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  #main_menu .container_carte .carte .menu__info .menu__title {
    font: message-box;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #main_menu .container_carte .carte .menu__info .menu__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #main_menu .container_carte .carte .menu__info .container_info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
  #main_menu .container_carte .carte .menu__info .menu__price {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
  #main_menu .container_carte .carte .menu__info .menu__confirmation {
    background-color: #99e2d0;
    margin: -1rem -8rem -1rem 1rem;
    width: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
  }
  #main_menu .container_carte .carte .menu__info .menu__confirmation .menu__checkIcon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(360deg);
    transition-duration: 1s;
  }
  #main_menu .container_carte .carte .menu__info .menu__confirmation .menu__checkIcon .menu__icon {
    color: #99E2D0;
  }
  #main_menu .order {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px 0 30px 0;
  }
  #main_menu .order .exploration {
    text-align: center;
    border-radius: 20px;
    color: #FFF;
    padding: 10px;
    width: 40%;
    background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 1024px) {
  #main_menu .restaurants_menu {
    height: 20rem;
  }
  #main_menu .container_carte {
    margin: -1em 5em 0 5em;
  }
  #main_menu .container_carte .carte .menu__info .menu__confirmation {
    margin: -1rem -9rem -1rem 1rem;
  }
  #main_menu h2 {
    width: 60px;
  }
}
@media screen and (min-width: 1440px) {
  #main_menu .container_carte {
    margin: -1em 10em 0 10em;
  }
}

/*# sourceMappingURL=style.css.map */
