@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import "./utils/animation";
@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/fonctions";
@import "./utils/menupages";
@import "./utils/header";
@import "./utils/footer";
@import "./utils/homepage";

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Shrikhand;
    font: message-box;
    .container_logo{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        i{
            width: 20%;
            padding: 0 0 0 20px;
            font-size: 1em;
        }
        span{
            width: 60%;
            font-size: 2em;
            font-style: normal;
        }
    }
    .loader_container{
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(108, 105, 110, 0.9);
        -webkit-animation: loader 0.01s;
        animation: loader 0.01s;
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        z-index: 10000;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .loader {
        border: 16px solid #bb50d6;
        border-radius: 50%;
        border-top: 16px solid rgba(255,121,218,1);
        border-bottom: 16px solid rgba(147,86,220,1);
        border-left: 16px solid #99E2D0;
        width: 6em;
        height: 6em;
        -webkit-animation: spin 1s cubic-bezier(0.55, 0.3, 0.51, 0.74) infinite;
        animation: spin 1s cubic-bezier(0.55, 0.3, 0.51, 0.74) infinite;
    }
    
}
ol{
    -webkit-padding-start: 10px;
    padding-inline-start: 10px;
    counter-reset: listCounter;
    li{
        list-style: none;
        padding: 0 0 20px 0;
        counter-increment: listCounter;
        &.select_number::before{
            content: counter(listCounter);
            background: $colour-primary;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: relative;
            left: -.75rem;
            top: 2.8rem;
        }
    }
    
}

.restaurant_info{
    -moz-text-align-last: start;
    text-align-last: start;
    h4{
        text-shadow: 0 0 black;
    }
}

.container_description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 20px 0 20px;
    height: 5em;
    width: 85%;
}

@media screen and (min-width: 425px){
    header{
        .select{
            h1{
                padding: 0 20px 0 20px;
            }
            h2{
                width: 100%;
                padding: 0 20px 0 20px;
            }
        }
    }
    main{
        .title{
            display: flex;
            align-items: center;
        }
        #restaurants{
            .restaurants_images
            {
                .new{
                    left: 15em;
                }
            }
        }
    }
    
}
@media screen and (min-width: 768px){
    header{
        .location{
            .fas{
                padding: unset;
            }
            #search{
                width: 20%;
                text-align: center;
            }
        }
    }
    main{
        #restaurants{
            .restaurants_images
            {
                .new{
                    left: 30em;
                }
            }
        }
    }
}
@media screen and (min-width: 1024px){
    header{
        .location{
            #search{
                width: 15%;
            }
        }
    }
    ol{
        display: flex;
        justify-content: space-between;
        li{
            width: 30%;
        }
    }
    main{
        .container_restaurants{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .restaurant_map{
                width: 45%;
            }
        } 
    }
    main{
        #restaurants{
            .restaurants_images{
                .new{
                    left: 17em;
                }
            }
        }
    }
    footer{
        .container_footer{
            display: flex;
            flex-wrap: wrap;
            .footer_choice{
                width: 25%;
            }
        }
        
    }
}
@media screen and (min-width: 1440px){
    #acceuil{
        margin: 0 10em 0 10em;
    }
    header{
        .location{
            #search{
                width: 11%;
            }
        }
    }
    main{
        #restaurants{
            .restaurants_images{
                .new{
                    left: 20em;
                }
            }
        }
    }
}
@media screen and (min-width: 1600px){
    main{
        #restaurants{
            .restaurants_images{
                .new{
                    left: 23em;
                }
            }
        }
    }
}
@media screen and (min-width: 1920px){
    #acceuil{
        margin: 0 15em 0 15em;
    }
    header{
        .location{
            #search{
                width: 8%;
            }
        }
    }
    main{
        #restaurants{
            .restaurant_map{
                margin: 0 0 50px 0;
            }
            .restaurants_images{
                .new{
                    left: 26em;
                }
            }
        }
    }
}
//Mise en page des pages de menu
#main_menu{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    h1{
        display: block;
        width: 100%;
        font-family: Shrikhand;
        font-size: 25px;
    }
    h2{
        display: inline-block;
        border-bottom: 3px solid $colour-third;
        padding-bottom: 5px;
        width: 18%;
    }
    h4{
        display: block;
        width: 100%;
        font-family: 'Roboto';
        font-weight: bolder;
        -webkit-margin-before: 0em;
        margin-block-start: 0em;
        -webkit-margin-after: 0em;
        margin-block-end: 0em;
    }
    .restaurant_palette_du_gout{
        background-image: url('../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg') ;
    }
    .restaurant_note_enchantee{
        background-image: url('../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg') ;
    }
    .restaurant_a_la_francaise{
        background-image: url('../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg') ;
    }
    .restaurant_delice_des_sens{
        background-image: url('../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg') ;
    }
    p{
        -webkit-margin-before: 0em;
        margin-block-start: 0em;
        -webkit-margin-after: 0em;
        margin-block-end: 0em;
        font-size: 15px;
    }
    .restaurants_menu{
        width: 100%;
        height: 15rem;
        background-size: cover;
        background-position: center;
    } 
}
@media screen and (min-width: 768px){
    #main_menu{
        .container_carte{
            .carte{
                .menu__info{
                    .menu__confirmation {
                        width: 7rem;
                    }
                }
            }
        } 
    }    
}
@media screen and (min-width: 1024px){
    #main_menu{
        .restaurants_menu{
            height: 20rem;
        }
        .container_carte{
            margin: -1em 5em 0 5em;
            .carte{
                .menu__info{
                    .menu__confirmation {
                        margin: -1rem -9rem -1rem 1rem;
                        width: 8rem;
                    }
                }
            }
        }
        h2 {
            width: 60px;
        }
        .order{
            .exploration{
                width: 20%;
            }
        }  
    }    
}
@media screen and (min-width: 1440px){
    #main_menu{
        .container_carte{
            margin: -1em 10em 0 10em;
        }
    }
}
@media screen and (min-width: 1920px){
    #main_menu{
        .order{
            .exploration{
                width: 10%;
            }
        }
    }
}