
@-webkit-keyframes itemShow {
  0% {
    opacity: 0;
    transform: rotateY(-10deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

@keyframes itemShow {
  0% {
    opacity: 0;
    transform: rotateY(-10deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

//animation permetant la disparition après 3sec du loader
@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
//rotation du loader
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { 
      transform: rotate(0deg);
      opacity: 100%;
  }
  
  100% { 
      transform: rotate(360deg);
      opacity: 0%;
  }
}
