$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-variant: #f5edff;
$colour-third: #99E2D0;
$colour-white: #FFF;
$colour-invalid: #DB464B;
$colour-gray: #434343;

$box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
$background: linear-gradient(0deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);